li {
  list-style: none;
}

.menu-pc {
  position: absolute;
  top: 5%;
  right: 5%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(38, 42, 51, 0.5746673669467788) 55%
  );
  color: white;
  border-radius: 30px;
  overflow: hidden;
  width: 1px;
  opacity: 0%;
  z-index: 1000;
  transition: all 0.4s;
}

.show-menu-pc {
  position: absolute;
  top: 5%;
  right: 5%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(38, 42, 51, 0.5746673669467788) 55%
  );
  color: white;
  border-radius: 30px;
  overflow: hidden;
  width: 340px;
  opacity: 100%;
  z-index: 1000;
  transition: all 0.4s;
}
li {
  cursor: pointer;
  opacity: 70%;
}
li:hover {
  opacity: 100%;
}

.menu-icon {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 22px;
  opacity: 70%;
  cursor: pointer;
}

.menu-icon:hover {
  opacity: 100%;
}
